/* Write your code here. */
.eachQueryContainer {
  border: 1px solid #d7dae6;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.shownContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.iconImages {
  height: 30px;
  cursor: pointer;
}
.eachQuestionHead {
  font-size: 20px;
}
.answer-text {
  color: #9aa5b1;
}
li {
  list-style-type: none;
}
